footer{
    color: white;
    background-color: var(--second--color);
    padding: 40px 0;
    .foot{
        display: flex;
        justify-content: space-between;
        
        p{

        }
        span{

        }
    }
}