#feature{
    padding: 100px 0;
    .header{
        padding-bottom: 40px;
        text-align: center;
        max-width: 720px;
        margin: 0 auto;
        h2{
font-size: 48px;
margin-bottom: 20px;
        }
        p{
color: #777777;
line-height: 1.5;
        }
    }
}